html {
    font-size: 14px !important;
}

:is(.dark body) {
    background-color: rgb(24, 24, 27) !important;
}

:is([dir="ltr"] .fi-main) {
    border-top-left-radius: unset !important;
}

.dark\:bg-gray-900:is(.dark *) {
    --tw-bg-opacity: 1;
    background-color: rgba(var(--gray-950), var(--tw-bg-opacity)) !important;
}
